/*============
Page variables
==============*/

:root {
    /*color scheme*/
    --col-primary-bg: hsl(278, 81%, 6%);
    --col-accent: hsl(167, 67%, 35%);
    --col-font: hsl(108, 24%, 96%);

  
    /*fonts*/
    --font-heading: 'Luckiest Guy', 'Impact', cursive;
    --font-main: 'Poppins', 'Tahoma', sans-serif;
    --font-code: 'Courier Prime', 'Courier New', monospace; 
    --fnt-sz-title: clamp(2rem, 1.5rem + 1.667vw, 3rem);
    --fnt-sz-heading: clamp(1.5rem, 1.125rem + 1.25vw, 2.25rem);
    --fnt-sz-subheading: clamp(1.125rem, 0.938rem + 0.625vw, 1.5rem);
    --fnt-sz-text: clamp(0.75rem, 0.563rem + 0.625vw, 1.125rem);


  }
  
  /*======================================
    Back to Basics (reset browser defaults)
    =======================================*/
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
  }

  html {
    overscroll-behavior: none;
  }
  
  body * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /*reset default font*/
  :is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
    font-family: Verdana, sans-serif;
  }
  
  :where(ul, ol) {
    list-style: none;
    margin: 0;
  }
  
  :where(ul, ol) a {
    text-decoration: none;
    color: inherit;
  }
  
/*====
LAYOUT
=====*/
body {
  background-color: var(--col-primary-bg);
  color: var(--col-font);
  display: grid;
  grid-template-areas: 
  "header header"
  "nav nav"
  "main main"
  "footer footer";
  grid-auto-flow: column;
}

header {
  grid-area: header;
  border: solid 2px red;
}

header .title {
  text-align:center;
  font-family: var(--font-heading);
  font-size: var(--fnt-sz-title);


}

nav {
  grid-area: nav;
  border: solid 2px blue;
}


main {
  grid-area: main;
  border: solid 2px green;
}


footer {
  grid-area: footer;
  border: solid 2px purple;
}


/*=============
responsiveness
===============*/

/*tablet size screen*/
@media only screen and (min-width: 768px) {

}

/*laptops and monitor size screen*/
@media only screen and (min-width: 1024px) {
  body {
    grid-template-areas: 
    "header header"
    "nav main"
    "nav main"
    "footer footer";
  }
}
/*===
a11y
=====*/

@media (prefers-color-scheme: dark) {
    root {
        --col-primary-bg: hsl(278, 81%, 6%);
        --col-font: hsl(108, 24%, 96%);
    }
  
    img {
      filter: brightness(0.8) saturate(1.25);
    }
  }
  
  @media (prefers-color-scheme: light) {
    root {
        --col-primary-bg: hsl(108, 24%, 96%);
        --col-font: hsl(278, 81%, 6%);
    }
  }

  /*minimal animation and scroll user preference*/
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }


/*======================
Ye Olde Time Print View
=======================*/
@media print {
    body * {
      background-color: unset;
      background: none;
      color: #000;
      font-size: 14pt;
      font-weight: normal;
      border: none;
      box-shadow: none;
      text-shadow: none;
    }
  
    /*remove unneeded elements*/
    nav {
      display: none;
    }
  
    footer ul {
      flex-direction: column;
    }
  
    /*display links*/
  
    :where(aside, footer) a:link {
      color: #000;
      margin: 0;
      display: block;
      font-size: 12pt;
    }
  
    :where(aside, footer) a::after {
      content: " [" attr(href) "]";
    }
  
    :where(aside, footer) a:link,
    :where(aside, footer) a:visited {
      color: #000;
      background: none;
      padding: 0;
    }
  
    abbr::after {
      content: " [" attr(title) "]";
    }
  }